@import '../../scss/settings/colors';
.HeaderButton1{
    margin-top: 50px;
    margin-left: 0;
    width: 310px;
    height: 120px;
    border: 0.75px solid $color-5;
    opacity: 1;
    margin-right: 44px;
    text-transform: uppercase;
    font: normal normal 300 36px/45px Open Sans;
    text-align: center;
    background-color: #fff;
    letter-spacing: 0px;
    opacity: 1;
    text-decoration: none;
    color: red;
}
.HeaderButton2 {
    margin-top: 50px;
    margin-left: 0;
    width: 310px;
    height: 120px;
    border: 0.75px solid $color-5;
    opacity: 1;
    text-transform: uppercase;
    font: normal normal 300 36px/45px Open Sans;
    text-align: center;
    background-color: #fff;
    letter-spacing: 0px;
    opacity: 1;
    text-decoration: none;
    color: $color-5;
}
// a{
//     text-decoration: none;
//     color: $color-5;
// }