@import '../../scss/settings/colors';
.Header{
    display: flex;
    .HeroImage{
        margin-top: 0px;
        margin-left: -25vw;
        width: 70vw;
        height: 100vh;
        background: transparent url('../../assets/Home-Hero-Image.jpg') 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .HeaderContainer{
        display: block;
        
        .Menu{
            // max-width: 638px;
            // height: 95px;
            margin-left: 10vw;
            margin-top: 5vh;
            
                    .UpperMenuHeaderNavigator{
                    display: flex;
                    justify-content: space-between;
                    padding-left: 25vw;
                    .MenuHeaderListUpLink{
                        padding-left: 3vw;
                        font-size: 0.875rem ;
                        color:$color-4;
                        text-decoration: none;
                        opacity: 1;
                    }
                }
                .MenuHeaderNavigatior{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 5vh;
                    .MenuHeaderListLink{
                        font-size: 1.125rem;
                        text-decoration: none;
                        color: $color-5;
                        //  letter-spacing: 0px;
                        opacity: 1;
                    }
                }
        }
        .HeaderHero{
            margin-top: 20vh;
            color: $color-5;
            opacity: 1;
            text-align: center;
            letter-spacing: -0.76px;
            line-height: 1.5; 
            font-size: 2.375rem;
            .HeroDecoration{
                background: transparent url('../../assets/Decoration.svg') 0% 0% no-repeat padding-box;
                opacity: 1;
                // width: px;
                height: 33px;
                margin-top: 25px;
                margin-left: 235px;
            }
        }
    }
}