@import '../../../scss/settings/colors';
.WhoDoWeHelpHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    height: 79px;
    margin-left: 314px;
    .WhoDoWeHelpButtons{
        width: 208px;
        height: 79px; 
        text-align: center;  
        margin-top: 80px; 
        font-size: 24px;
        text-align: center;
        background-color: #fff;
        letter-spacing: 0px;
        opacity: 1;
        text-decoration: none;
        color: $color-5;
        border: none;
        cursor: pointer;
    }
    
}.WhoDoWeHelpBox{
        background-color: red;
        width: 208px;
        height: 79px; 
        text-align: center;  
        margin-top: 80px; 
        font-size: 24px;
    }