@import '../../scss/settings/colors';

.Contact{
    height: 1026px;
    display: flex;
    .ContactImage{
        background: transparent url('../../assets/BackgroundContactForm.jpg') 0% 0% no-repeat padding-box;
        background-blend-mode: overlay;
        height: 1026px;
        width: 1230px;
        opacity: 20%;
    }
    .ContactHero{
        width: 528px;
        h1{
            margin-top: 200px;
            text-align: center;
            font-size: 38px;
            letter-spacing: -0.76px;
            color: $color-5;
            opacity: 1;
        }
        .ContactHeroDecoration{
            background: transparent url('../../assets/Decoration.svg') 0% 0% no-repeat padding-box;
            opacity: 1;
            width: 253px;
            margin-top: 25px;
            margin-left: 135px;
            height: 33px;
            }
    }
    .Footer{
        font-size: 18px;
        letter-spacing: 0px;
        color: $color-5;
        opacity: 1;
        margin-left: -350px;
        margin-top: 450px;   
        display: flex;
        .ImageFb{
            width: 30px;
            height: 30px;
            background: transparent url('../../assets/Facebook.svg') 0% 0% no-repeat padding-box;
            margin-bottom: 40px;
            padding-right: 20px;
            margin-left: 520px;
        }
        .ImageInst{
            width: 30px;
            height: 30px;
            background: transparent url('../../assets//Instagram.svg') 0% 0% no-repeat padding-box;
            margin-bottom: 40px;
        }
    }    
}